:root {
  --ui-font: system-ui, -apple-system, san-serif;
}

/* Text field */
text-field {
  display: block;
  font-family: var(--ui-font);
}

text-field > label {
  display: block;
}

text-field > input[type="text"] {
  border: 1px solid black;
  padding: 0.25rem;
  font-size: 1rem;
}

text-field > input[type="text"]:focus {
  border-color: blue;
  outline: 0;
}

[data-layout$="stack"] {
  display: grid;
  gap: var(--space, 0);
}

[data-layout="h-stack"] {
  grid-auto-flow: column;
}

[data-layout="v-stack"] {
  grid-auto-flow: row;
}
